@model Company

<div class="card">
	<div class="row pb-2">
		<h2 class="text-dark text-center m-2">Edit Category</h2>

	</div>

	<div class="card-body p-4">
		<input asp-for="@Model.Id" hidden />

		<form method="post">
			<div class="border p-2 mt-4">


				<div class="mb-2">
					<label asp-for="CompanyName" class="p-0"></label>
					<input asp-for="CompanyName" class="form-control" />
					<span asp-validation-for="CompanyName" class="text-danger"></span>
				</div>
				<div class="mb-2">
					<label asp-for="StreetAddress" class="p-0"></label>
					<input asp-for="StreetAddress" class="form-control" />
					<span asp-validation-for="StreetAddress" class="text-danger"></span>
				</div>

				<div class="mb-2">
					<label asp-for="City" class="p-0"></label>
					<input asp-for="City" class="form-control" />
					<span asp-validation-for="City" class="text-danger"></span>
				</div>
				<div class="mb-2">
					<label asp-for="State" class="p-0"></label>
					<input asp-for="State" class="form-control" />
					<span asp-validation-for="State" class="text-danger"></span>
				</div>
				<div class="mb-2">
					<label asp-for="PostalCode" class="p-0"></label>
					<input asp-for="PostalCode" class="form-control" />
					<span asp-validation-for="PostalCode" class="text-danger"></span>
				</div>
				<div class="mb-2">
					<label asp-for="PhoneNumber" class="p-0"></label>
					<input asp-for="PhoneNumber" class="form-control" />
					<span asp-validation-for="PhoneNumber" class="text-danger"></span>
				</div>

				<div class="row">
					<div class="col-6 col-md-3">
						<button type="submit" class="btn btn-primary form-control">Submit</button>
					</div>
					<div class="col-6 col-md-3">
						<a asp-controller="Category" asp-action="Index" class="btn btn-outline-secondary border form-control">Back to list</a>
					</div>
				</div>



			</div>

		</form>

	</div>
</div>
