@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<div class="row d-flex justify-content-center" style="margin-top:80px;">
    <div class="col-md-4 shadow-lg p-4 rounded-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h3>Create a new account</h3>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control rounded-2" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control rounded-2" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control rounded-2" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Name" class="form-control rounded-2" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Name">Name</label>
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.StreetAddress" class="form-control rounded-2" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.StreetAddress">StreetAddress</label>
                <span asp-validation-for="Input.StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.City" class="form-control rounded-2" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.City">City</label>
                <span asp-validation-for="Input.City" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.State" class="form-control rounded-2" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.State">State</label>
                <span asp-validation-for="Input.State" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.PostalCode" class="form-control rounded-2" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.PostalCode">PostalCode</label>
                <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control rounded-2" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.PhoneNumber">PhoneNumber</label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">

                <select asp-for="Input.Role" class="form-select" asp-items="@Model.Input.RoleList">
                    <option value="">-- Select Category --</option>
                </select>
            </div>
         
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary rounded-2 p-3">Register</button>
        </form>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
